:global(.slick-prev:before),
:global(.slick-next:before) {
  color: #650000 !important; /* 화살표 색상 강제 변경 */
}

:global(.slick-prev:before) {
  padding-right: 0.5em;
}

:global(.slick-next:before) {
  padding-left: 0.5em;
}

:global(.slick-slider) {
  /* padding-bottom: 2em; */
}

:global(.carousel ul) {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  flex-grow: 1;
  align-items: end;
}

:global(.slick-slider) {
  position: relative;
  display: flex;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  flex-grow: 1;
}

:global(.slick-dots) {
  position: unset;
  bottom: unset;
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  list-style: none;
  text-align: center;
}

:global(.slick-prev),
:global(.slick-next) {
  top: 40%;
}
