@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HakgyoansimGeurimilgiTTF-R";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "KyoboHand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.view {
  display: flex;
  width: 100%;
  height: 100dvh;
  overflow-x: auto;
  word-break: keep-all;
  word-wrap: break-word;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
